@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';
@import 'select2/dist/css/select2.min.css';

.lang-flag {
    width: 20px;
    height: 14px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 2px;
}
